
:root{
  
    /* ===========================
          Colors 
     ===========================*/
     --color-White: hsl(0, 0%, 100%); 
     --color-SlightlyTransparentWhite1: hsla(0, 0%, 100%, 0.75); /* main paragraph */
     --color-SlightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6); /* stat headings */
     --color-Darkblue: hsl(233, 47%, 7%); /* main background */
     --color-Desaturatedblue: hsl(244, 38%, 16%);  /* card background */
     --color-SoftViolet: hsl(277, 64%, 61%); /* (accent)*/

   /* =========================
        Font Weights
    ===========================*/
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* =========================
    Font Types
    =========================*/
    --ff-Inter: "Inter", sans-serif;
    --ff-LexendDeca: "Lexend Deca", sans-serif;
 
/* ===========================
            Radii 
    ===========================*/

    --radius-1: 0.5rem /* 8px */;
    --radius-2: 0.625rem /* 10px */;
    --radius-3: 0.75rem /* 12px */ ;
    --radius-4: 0.875rem /* 14px */ ;
    --radius-5: 1rem /* 16px */ ;
    }

    .container{
        background-color: var(--color-Darkblue);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100vh;
        font-family: var(--ff-Inter);
        color: var(--color-White);
        overflow-x: hidden;
    }
    .card-section-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'article image';
        width: 70%;
        border-radius: var(--radius-5);
        background-color: var(--color-Desaturatedblue);
    }
    #card-section-article{
        grid-area: article;
        justify-content: left;
        padding: 5rem 8rem 0 6rem;
    }
    .article-header{
        display: block;
        width: fit-content;
        padding-bottom: 2.5rem;
        font-weight: var(--fw-700);
        letter-spacing: 0.085rem;
    }
    .insight{
        color:var(--color-SoftViolet);
        padding: 0 0.5rem 0 0.5rem;
    }
    .article-paragraph{
        font-size: 1.4rem;
        font-weight: var(--fw-400);
        padding-bottom: 8rem;
        opacity: 0.60;
    }
    .article-list{
        justify-content: space-between;
    }
    .article-list-item{
        font-size: 2rem;
        font-weight: var(--fw-700);
    }
    .article-list-item-span{
        font-size: 1.2rem;
        font-weight: var(--fw-500);
        opacity: 0.45;
        text-transform: uppercase;
        letter-spacing: 0.095rem;
    }
    #card-section-image{
        width: 100%;
        background-size: cover;
        grid-area: image;
    }
    .card-section-image-overlay{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: var(--color-SoftViolet);
        opacity: 0.45;
        border-radius: 0 0.75rem 0.75rem 0;
    }
    img{
        border-radius: 0 0.75rem 0.75rem 0;
    }

    /* Utility class */
    .p-rel{
        position: relative;
    }
    .p-abs{
        position: absolute;
    }
    .d-flex{
        display: flex;
    }
    .f-row{
        flex-direction: row;
    }
    .f-column{
        flex-direction: column;
    }
    .v-center{
        align-items: center;
    }
    .h-center{
        justify-content: center;
    }

    @media only screen and (max-width:568px){
        .container{
            height: 130vh;
            overflow-y: scroll;
        }
        .card-section-grid{
            grid-template-columns: 1fr;
            grid-template-rows: 1.3fr 1.6fr;
            grid-template-areas: 
            'image'
            'article';
            width: 90%;
            height: 90%;
            border-radius: var(--radius-5); 
        }
        #card-section-article{
            flex-direction: column;
            padding: 30px 20px 50px 20px;
            background-color: var(--color-Desaturatedblue);
            border-radius: 0 0 0.75rem 0.75rem;
            margin-bottom: 60px;
        }
        .article-header{
            text-align: center;
            letter-spacing: 0.035rem;
        }
        .article-paragraph{
            text-align: center;
            padding-bottom: 30px;
        }
        .paragraph-line{
            display: block;
        }
        .indented-line{
            padding-left: 15px;
        }
        .article-list{
            flex-direction: column;
        }
        .article-list-item{
            padding-bottom: 20px;
            align-items: center;
        }
        img{
            width: 100%;
            border-radius: 0.75rem 0.75rem 0 0;
        }
    }